 <!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="footer-grid">
                <h3>Giới thiệu</h3>
                <p>
                    BẢN QUYỀN THUỘC VỀ: BỘ GIÁO DỤC VÀ ĐÀO TẠO
                    <br />
                    Địa chỉ: Số 35 Đại Cồ Việt, Hà Nội
                    <br />
                    Điện thoại: 024.38695144; Fax: 024.38694085;
                    <br />
                    Email: bogddt@moet.gov.vn
                </p>
            </div>
            <div class="footer-grid">
                <h3>Site Page</h3>
                <ul>
                    <li class="cap1"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="articles.html">Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Praesent pharetra</h3>
                <ul>
                    <li><a href="single.html">Vestibulum iaculis scelerisque</a></li>
                    <li><a href="single.html">Cras aliquam erat</a></li>
                    <li><a href="single.html">Morbi imperdiet ipsum</a></li>
                    <li><a href="single.html">Donec faucibus mollis</a></li>
                    <li><a href="single.html">Praesent lacinia nisi</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <p>Template by<a href="http://w3layouts.com/"> w3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
                containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
