<div id="header">
    <div class="header-info1">
        <div>
            <ul class="list-ui-info">
                <li>Sơ đồ cổng</li>
                <li><a href="/admin#/admin">Admin</a></li>
                <li>RSS</li>
                <li> <a href="contact.html">Liên hệ</a></li>
                <li>Đăng nhập</li>
                <li>
                    <img src="~/Assets/client/disptach/image/icon-vi.png" />
                </li>
                <li>
                    <img src="~/Assets/client/disptach/image/icon-en.png" />
                </li>
            </ul>
        </div>
        <form method="post" class="search" action="#">
            <p>
                <input name="search_query" class="textbox" type="text" />
                <input name="search" class="button" value="Search" type="submit" />
            </p>
        </form>
    </div>
    <h1 id="logo"><img style="width:290px; height:auto" src="~/Assets/client/disptach/image/logo.png" /></h1>
</div>
<div id="menu">
    <ul>
        <li id="current"><a href="/">Home</a></li>
        <li><a href="#">TIN TỨC</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">VĂN BẢN</a></li>
        <li><a href="#">THỐNG KÊ</a></li>
        <li><a href="#">BỘ GD&DT VỚI NHÂN DÂN</a></li>
        <li><a href="#">QUẢN LÝ ĐIỀU HÀNH</a></li>
    </ul>
</div>