@model Dispatch.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*@section FooterJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtd0gqVb2uv-As_Gw-nhBl-rsRXTAwe04"></script>
    <script src="~/Assets/client/js/controller/contact.js"></script>
}*@
    <!-- contact -->
<div class="contact">
    <div class="contact-left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2620.908687693293!2d2.3574429999999995!3d48.936181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66eb34e18b951%3A0xc3c6a4ac9498bfce!2sWorld&#39;s+Business+Import!5e0!3m2!1sen!2sin!4v1429768672602" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="contact-right">
        <p class="phn">+9100 2481 5842</p>
        <p class="phn-bottom">
            4578 MARMORA
            <span>ROAD, GLASGOW D04 89GR</span>
        </p>
        <p class="lom">
            Nullam ac urna velit. Pellentesque in arcu tortor.
            Pellentesque nec est et elit varius pulvinar eget vitae sapien.
            Aenean vehicula accumsan gravida.
        </p>
    </div>
    <div class="clearfix"> </div>
    <div class="contact-left1">
        <h3>Contact Us With <span>Any Queston</span></h3>
        <div class="in-left">
            <form>
                <input type="text" placeholder="Your Name:" required=" ">
                <input type="text" placeholder="Phone Number:" required=" ">
                <input type="text" placeholder="E-mail:" required=" ">
            </form>
        </div>
        <div class="in-right">
            <form>
                <textarea placeholder="Message:" required=" "></textarea>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="contact-right1">
        <h3>Find Us On <span>Social Websites</span></h3>
        <h4>
            Nullam ac urna velit pellentesque in <label>
                arcu tortor
                Pellentesque nec
            </label>
        </h4>
        <p>
            Nullam ac urna velit. Pellentesque in arcu tortor.
            Pellentesque nec est et elit varius pulvinar eget vitae sapien.
            Aenean vehicula accumsan gravida. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Phasellus
            et lectus in urna consequat consectetur ut eget risus.
        </p>
        <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="dribble"> </a></li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //contact -->