<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!--cho phép validate client-->
  <add key="ClientValidationEnabled" value="true" />
  <!-- tách biệt js vs html-->
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--tham số kích thước của trang cần lấy dữ liệu ra-->
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="2"/>

  <add key="SMTPHost" value ="smtp.gmail.com"/>
  <add key="SMTPPort" value ="587"/>
  <add key="FromEmailAddress" value ="vvthuywork@gmail.com"/>
  <add key="FromName" value ="Thuy Vu"/>
  <add key="FromEmailPassword" value ="thuyVan@"/>
  <add key="AdminEmail" value ="vvthuystudy@gmail.com"/>
  <add key="CurrentLink" value ="http://localhost:44374/"/>
  <!--key file path-->
  <add  key="ReportFolder" value="/Report"/>
</appSettings>