  
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 style="font-weight:bold;">Danh sách nhóm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Nhóm quyền</li>
                    <li class="breadcrumb-item active">Danh mục quyền</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh mục quyền</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" ng-click="search()" type="button">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- có thể dùng c1: ng-click="AddProductCatogory(), c2: ui-sref -->
                    <button class="btn btn-success" ui-sref="add_application_role">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <input name="all" type="checkbox" ng-click="selectAll()" />
                                    <th style="width:55%">Tên quyền</th>
                                    <th style="width: 20%">Mô tả</th>
                                    <th style="width: 10%">Thao tác</th>
                                </tr>
                                <tr ng-repeat="item in data">
                                    <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                    <td><a ui-sref="edit_application_role({id:item.Id})">{{item.Name}}</a></td>
                                    <td>
                                        {{item.Description}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" ui-sref="edit_application_role({id:item.Id})"><i class="fa fa-pencil-alt"></i></button>
                                        <button class="btn  btn-sm btn-danger" ng-click="deleteItem(item.Id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div ng-if="loading" style="z-index:1">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> <label class="label label-primary"> Đang tải....</label>
                                </div>
                                <div class="col-xs-4"></div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProduct(page)"></pager-directive>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
