

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                  Thêm mới người dùng
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item" ui-sref="application_users" style="cursor:pointer">Danh mục người dùng</li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <div class="card card-info">
        <!-- /.card-header -->
        <!-- form start -->
        <!-- novalidate: không cho phép validate mặc định -->
        <!-- ng-model: cơ chế bidding dữ liệu lên khai báo từ controller  -->
        <form class="form-horizontal" novalidate name="frmUpdateProduct" role="form">
            <div class="card-body">
                <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.name.$invalid && !frmAddAccount.name.$pristine }">
                    <label class="col-sm-2 control-label">Họ tên người dùng</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control"
                               required reqired-message="Họ tên bắt buộc." ng-model="account.FullName">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.userName.$invalid && !frmAddAccount.userName.$pristine }">
                    <label class="col-sm-2 control-label">Tài khoản</label>
                    <div class="col-sm-10">
                        <input type="text" name="userName" class="form-control"
                               required reqired-message="Tài khoản bắt buộc." ng-model="account.UserName">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.password.$invalid && !frmAddAccount.password.$pristine }">
                    <label class="col-sm-2 control-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control"
                               required reqired-message="Mật khẩu bắt buộc." ng-model="account.Password">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.email.$invalid && !frmAddAccount.email.$pristine }">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control"
                               required reqired-message="Email bắt buộc." ng-model="account.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" name="password" class="form-control"
                               ng-model="account.PhoneNumber">
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-sm-2 control-label">Group</label>
                    <div class="col-sm-10">
                        <input disabled type="text" name="GroupName" class="form-control"
                               ng-model="account.GroupName" id="positionGroup"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.birthDate.$invalid && !frmAddAccount.birthDate.$pristine }">
                    <label class="col-sm-2 control-label">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="date" name="birthDate" class="form-control"
                               required reqired-message="Ngày sinh bắt buộc." ng-model="account.BirthDay">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label class="check-group" ng-repeat="group in groups" style="margin-right:10px">
                            <input class="checkAuthen" nameAuthen="{{group.Name}}" ng-click="checkAuthen()" type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                        </label>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info" ng-click="addAccount()">Save</button>
                <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</section>